@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

body {
    background-color: #f4fbff;
    font-family: "Montserrat", sans-serif;
}

.navbar {
    padding: 15px, 100px, 15px, 100px;
    font-size: 14px;
    font-weight: 600;
    background-color: #007cbd;
}

nav .register-btn {
    width: 121px;
    height: 37px;
    margin-left: 1rem;
    font-size: 14px;
    color: #007cbd;
    font-weight: 600;
    border-radius: 100px;
    padding: 10px, 30px, 10px, 30px;
    border: none;
    cursor: pointer;
}

.register-btn:hover {
    background-color: #007cbd;
    color: white;
}

header {
    height: 1000px;
    background-image: url(assets/img/Background-hero.png);
}

@media (max-width: 992px) {
    nav .register-btn {
        margin-left: 0;
        margin-top: 1rem;
    }
}

.heading {
    display: flex;
    flex-direction: column;
    width: 924px;
    height: 146px;
    align-items: center;
}

.heading h1 {
    font-weight: 800;
}

.signup-btn {
    display: flex;
    justify-content: center;
    place-items: center;
    padding: 16px, 20px, 16px, 20px;
    width: 221px;
    height: 49px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}

.text-container {
    color: #007cbd;
}

#about h4 {
    color: #007cbd;
    font-size: 19px;
    font-weight: 700;
}
#about p {
    font-size: 14px;
    font-weight: 500;
}

.text-container {
    font-size: 14px;
    padding: 0 10px 10px 0;
}

.fa-brands {
    width: 21px;
    height: 21px;
}

#mechanisme {
    background-image: url(assets/img/img-mechanism.png);
    height: 1000px;
}

.container {
    justify-content: center;
}

.heading-1 h1 {
    color: #ffffff;
    font-size: 48px;
    margin-top: 167px;
    font-weight: 700;
}

.demo-row {
    background-color: #f4fbff;
    padding: 50px 0;
}

/*Implement*/
.sponsor-feature {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    min-height: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

#id-sponsors .carousel {
    margin-bottom: 20px;
}
#id-sponsors .item {
    padding-bottom: 20px;
}
#id-sponsors .carousel-indicators {
    bottom: -25px;
}

.card-title {
    font-size: 13px;
    font-weight: 700;
}

.card-text {
    font-size: 11px;
    font-weight: 500;
    color: #7a7b7e;
}

.heading-3 {
    font-size: 32px;
    font-weight: 700;
    color: #007cbd;
}
.card {
    width: 350px;
    border: none;
    border-radius: 8px;
}

footer {
    background-color: #007cbd;
    height: 220px;
}

footer .description {
    font-weight: 600;
    font-size: 14px;
}

small {
    font-size: 10px;
    font-weight: 400;
}

hr {
    border: 1px solid #ffffff;
}

.social-media .fa-brands {
    width: 21px;
    height: 21px;
    color: white;
}

.registrasi {
    background-image: url(assets/img/Background-register.png);
    height: 400px;
}

.registrasi h1 {
    text-align: center;
}


/* Main CSS */
.wrapper {
    margin-top: 100px;
    padding: 0 0 100px;
    background-image: url("images/bg.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    min-height: 100%;
}
.wrapper .logo img {
    max-width: 40%;
}
.wrapper input {
    background-color: #F8F8F8;
    border-color: #F8F8F8;
    color: #F8F8F8;
    border: none;
    border-radius: 8px;
}
.wrapper input:focus {
    box-shadow: none;
}
.wrapper .password-info {
    font-size: 12px;
    font-weight: 400;
    color: gray;

}
.wrapper .submit_btn {
    padding: 10px 15px;
    font-weight: 500;
}
.wrapper .login_with {
    padding: 8px 15px;
    font-size: 13px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}
.wrapper .submit_btn:focus,
.wrapper .login_with:focus {
    box-shadow: none;
}

.form-check-input{
    width: 14px !important;
}


